<div class="home" avalonctrl="home">
  <section class="grid-header">
    <div class="main-title">E&nbsp;秘</div>
    <div class="main-subtitle">E&nbsp;秘，为了帮助您更好的做好百度推广，请您对我们的答案给予评价哦！</div>
  </section>
  <section class="grid-sidebar">
    <div class="sidebar-title">E&nbsp;秘</div>
  </section>
  <section class="grid-main">
    <section class="grid-left">
      <div id="message-view-wrap" style="padding-top:10px;">
        <div id="message-view" class="message-view" avalonctrl="message-view">
          <!--ms-if-->
          <div id="message-body">
            <div class="msg-item clearfix">
              <div class="answer clearfix">
                <div class="answer-head">E秘 今天 13:08:46</div>
                <div class="view-content guid">
                  <div class="guid-title">您好，非常感谢您选择百度推广！我是在线咨询顾问E秘，很高兴为您服务，请问有什么可以帮您？</div>


                  </div>
              </div>
            </div>

            <div class="msg-item clearfix">
              <div class="answer clearfix">
                <div class="answer-head">E秘 今天 13:09:06</div>
                <div class="view-content guid">
                  <div class="guid-title">您是想咨询"<span class="initiative-query">如何申请百度推广？</span>"吗？</div>

                 </div>
              </div>
            </div>

            <div class="msg-item clearfix">
              <div class="answer clearfix">
                <div class="answer-head">E秘 今天 13:09:26</div>
                <div class="view-content guid">
                  <div class="guid-title">您是想咨询"<span class="initiative-query">百度推广效果怎么样？</span>"吗？</div>


                </div>
              </div>
            </div>


            <div class="msg-item clearfix">
              <div class="answer clearfix">
                <div class="answer-head">E秘 今天 13:09:46</div>
                <div class="view-content guid">
                  <div class="guid-title">您是想咨询"<span class="initiative-query">百度推广如何收费？</span>"吗？</div>




                </div>
              </div>
            </div>


            <div class="msg-item clearfix">
              <div class="answer clearfix">
                <div class="answer-head">E秘 今天 13:10:06</div>
                <div class="view-content guid">
                  <div class="guid-title">您是想咨询"<span class="initiative-query">百度推广需要什么材料？</span>"吗？</div>




                </div>
              </div>
            </div>


            <div id="msg1493010610719" class="msg-item clearfix msg-custom">

              <div class="question clearfix">

                <div class="answer-head">我 今天 13:10:10</div>

                <div class="view-content question-content">

                  111
                </div>
              </div>
            </div>



            <div class="msg-item clearfix">
              <div class="answer clearfix">
                <div class="answer-head">E秘 今天 13:10:11</div>
                <div class="view-content">


                  您可以留下<a href="action:multiturn" question="申请百度推广">联系信息</a>，我们会有专业营销顾问为您解答。


















                  <div class="answer-comment comment-showthanks">
                    <em class="answer-comment-thanks">感谢您的评价
                </em>
                  </div>


                </div>
              </div>
            </div>


            <div id="msg1493010615946" class="msg-item clearfix msg-custom">

              <div class="question clearfix">

                <div class="answer-head">我 今天 13:10:15</div>

                <div class="view-content question-content">

                  2222
                </div>
              </div>
            </div>



            <div class="msg-item clearfix">
              <div class="answer clearfix">
                <div class="answer-head">E秘 今天 13:10:16</div>
                <div class="view-content">


                  您可以留下<a href="action:multiturn" question="申请百度推广">联系信息</a>，我们会有专业营销顾问为您解答。


















                  <div class="answer-comment comment-showthanks">
                    <em class="answer-comment-thanks">感谢您的评价
                </em>
                  </div>


                </div>
              </div>
            </div>


            <div class="msg-item clearfix">
              <div class="answer clearfix">
                <div class="answer-head">E秘 今天 13:10:26</div>
                <div class="view-content guid">
                  <div class="guid-title">您是想咨询"<span class="initiative-query">百度推广提供哪些服务？</span>"吗？</div>




                </div>
              </div>
            </div>


            <div id="msg1493010690725" class="msg-item clearfix msg-custom">

              <div class="question clearfix">

                <div class="answer-head">我 今天 13:11:30</div>

                <div class="view-content question-content">

                  sdf
                </div>
              </div>
            </div>



            <div class="msg-item clearfix">
              <div class="answer clearfix">
                <div class="answer-head">E秘 今天 13:11:31</div>
                <div class="view-content">


                  您可以留下<a href="action:multiturn" question="申请百度推广">联系信息</a>，我们会有专业营销顾问为您解答。


















                  <div class="answer-comment comment-showthanks">
                    <em class="answer-comment-thanks">感谢您的评价
                </em>
                  </div>


                </div>
              </div>
            </div>


            <div id="msg1493010705521" class="msg-item clearfix msg-custom">

              <div class="question clearfix">

                <div class="answer-head">我 今天 13:11:45</div>

                <div class="view-content question-content">

                  11
                </div>
              </div>
            </div>



            <div class="msg-item clearfix">
              <div class="answer clearfix">
                <div class="answer-head">E秘 今天 13:11:46</div>
                <div class="view-content">


                  您可以留下<a href="action:multiturn" question="申请百度推广">联系信息</a>，我们会有专业营销顾问为您解答。


















                  <div class="answer-comment comment-showthanks">
                    <em class="answer-comment-thanks">感谢您的评价
                </em>
                  </div>


                </div>
              </div>
            </div>

          </div>
          <div class="answer clearfix" style="display: none;">
            <div class="answer-head">E秘</div>
            <div class="view-content">
              正在输入...
            </div>
          </div>
        </div>
      </div>
      <div id="message-input-wrap">
        <div class="message-input" avalonctrl="message-input">
          <div class="contact-bar" style="display: none;">
            &nbsp;&nbsp;&nbsp;留下您的联系信息，我们会有专业营销顾问与您联系。
            <input type="button" value="立即申请" class="btn btn-apply">
            <span class="contact-del">X</span>
          </div>
          <div id="toolbar-wrap">
            <div id="toolbar" class="toolbar" avalonctrl="toolbar1493010526063">
              <div style="display: none;">
                <div class="toolbar-body">
                  <div class="face toolbar-item" style="display: none;">
                    <ul class="face-wrap clear-fix">
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="1e376a99d4059562772aad9ac065fd71"
                        extension="png" alt="微笑"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="c5ce7689438e5ee92c5942d4885fc198"
                        extension="gif" alt="大笑"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="d2ff68289e44c32d61f17e9cfb8f781a"
                        extension="gif" alt="偷笑"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="564396330c9e704c27533dd0a9f38d56"
                        extension="gif" alt="憨笑"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="33991a718d98b7bde46d1656acd1d84f"
                        extension="gif" alt="得意"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="1eac4820cb2162ad0ea9050f730701ea"
                        extension="gif" alt="可爱"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="afb7b910b894d8638a5f5f60d66080bb"
                        extension="gif" alt="害羞"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="6eeeea78151b0d992342b5d974ea9748"
                        extension="gif" alt="乖"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="3567d74d273570047d563a52487b458d"
                        extension="png" alt="淘气"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="17a002956048d2cc3e7136a60995f4c5"
                        extension="png" alt="调皮"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="6d177c2e8caa44b47950afd1c2d94ea1"
                        extension="gif" alt="流泪"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="f2468ad19982b6109525f86e60da0a40"
                        extension="gif" alt="大哭"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="f4075f32764665658fe69d475536685f"
                        extension="png" alt="撇嘴"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="97aac5ef30ca5c313f5055d3303a901a"
                        extension="gif" alt="闭嘴"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="ea12132c217e29cc32a70ef2123baa55"
                        extension="gif" alt="嘘"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="0fd150d82ae7f2d174c9601f9ee09247"
                        extension="gif" alt="鄙视"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="8484e2fcd13826ff6d311fa23f6133f1"
                        extension="png" alt="傲慢"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="46e7c6b53203f314943f5af66f6b9daf"
                        extension="gif" alt="白眼"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="8c1066c3a4fc9115b46e3ae72a19e3f4"
                        extension="gif" alt="思考"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="fd2bdb138346f328795d068df107ec90"
                        extension="gif" alt="困"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="d6c03a77dc812595b2f41fdde34d05a6"
                        extension="gif" alt="睡"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="fd2f51cd66989306299d8ad075abbc89"
                        extension="gif" alt="汗"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="b143058415f04e4f21302736326fb37c"
                        extension="gif" alt="尴尬"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="c6fbb9628da63dc12c9a1fef25dea934"
                        extension="png" alt="惊讶"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="4a19620c98f2d809ea46900a0b552d7c"
                        extension="gif" alt="惊恐"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="7e9cbda5e0b325f01d478f8e4adf69b2"
                        extension="gif" alt="疑问"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="18c3ccd14d992d8e5aa30acfe670d42f"
                        extension="gif" alt="晕"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="d237de97c3277b7749ce839db39b0649"
                        extension="gif" alt="敲打"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="f2e7df81f1e48584a82c82f99d266b7c"
                        extension="png" alt="难过"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="3ced67ed7484ec180470b6cf8f0e44b3"
                        extension="gif" alt="委屈"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="5c0aacf4ce01a07aa72ced20edfb1fb0"
                        extension="gif" alt="色"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="fd78f2b8f16086a940e90f370b2bb0d4"
                        extension="gif" alt="抓狂"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="c6d1d4982260a4bad13aab943f7799f0"
                        extension="gif" alt="愤怒"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="658d87d64e128385f28a59c15aa8cb91"
                        extension="gif" alt="吐"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="ae2b37bc2c8186a5dad63a583ad278cb"
                        extension="png" alt="衰"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="b6db7f3a9e8a9c864046eb0eaa15942d"
                        extension="gif" alt="再见"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="3890735fdd2f25319367532f660bbcd2"
                        extension="png" alt="左拥抱"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="28a6dcccc96ad6d3082a0ff5554bebd6"
                        extension="png" alt="右拥抱"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="eb06e9170d5b470f124d3943f537e714"
                        extension="png" alt="闪人"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="d32893593db6217773e102bd694db4d8"
                        extension="gif" alt="刀"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="11d117a72c9cd5ffa2110c31cb4a385b"
                        extension="png" alt="吻"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="7f73aeabe8ddb4bb23e06de4e6072e40"
                        extension="png" alt="爱情"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="b5fbcef53bf2d695db6bd48faa326585"
                        extension="gif" alt="心碎"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="5bc342dfc4b92d4c0cad3a4207a99380"
                        extension="png" alt="鲜花"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="9ef7d4c187f298a10953f5096cbe9162"
                        extension="png" alt="枯萎"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="f08d998e04027d92feaf0f8667bb016c"
                        extension="gif" alt="胜利"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="f143718613f47bb929e7134b2457f260"
                        extension="png" alt="ok"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="2f5113cfd0a33bfec485c222051db205"
                        extension="gif" alt="大拇指"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="2ea09b4e887a6871e22d6e52a014179c"
                        extension="gif" alt="弱"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="a21bf8c01f41b9148b81aa1b53fb3a0e"
                        extension="gif" alt="握手"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="47198bf11c75a03e6249a1ccc1064bce"
                        extension="gif" alt="蛋糕"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="d6bde4b624846fd08500053358e154ae"
                        extension="gif" alt="咖啡"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="e3aac3a4e1e36a02959f62d9bbcab7ac"
                        extension="png" alt="吃饭"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="75132ac5d361fd71a0b8acc6d99b7692"
                        extension="png" alt="太阳"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="5bbb83756e3e652b43f9f03d638718b4"
                        extension="png" alt="月亮"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="dcb31cac1b742034e9cdc5254f309d00"
                        extension="png" alt="星星"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="490183579bb95ab6eee1d695cdaef213"
                        extension="gif" alt="便便"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="ede07ac7f02fbc613381069a77ff1b5c"
                        extension="png" alt="猪头"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="eeb68b5c092155df924e69b2a1de21f9"
                        extension="png" alt="钱"></li>
                      <!--repeat501524879254752695496907172285-->
                      <li class="face-item"  data-log="{'target': 'online-consult-sendface'}" face="33037bedc05c33f5998f875c608d4ba1"
                        extension="png" alt="HI"></li>
                      <!--repeat501524879254752695496907172285:end-->
                    </ul>
                    <div class="c-tip-arrow">
                      <em></em>
                      <ins></ins>
                    </div>
                  </div>
                </div>
                <div class="toolbar-btns">
                  <div class="btn-img bnt-pic toolbar-item">
                    <form id="uploadForm">
                      <input id="uploadInput" name="file" type="file" onchange="selectImage()" title="发送图片">
                    </form>
                  </div>

                  <button class="bnt-face toolbar-item" title="发送表情" type="button">表情</button>

                  <button class="bnt-file toolbar-item" title="文件" data-log="{'target': 'online-consult-sendfile'}" type="button">文件
            </button>
                  <button class="bnt-close" title="结束转人工客服" data-log="{'target': 'online-consult-close-by-user'}" type="button">结束转人工客服
            </button>
                </div>
              </div>
            </div>
          </div>
          <div class="msg-now" contenteditable="true"></div>

          <p class="submit-wrap">
            <span class="remain-input-hint" style="display: inline;">您还可以输入<span class="num">150</span>字</span>
            <input type="button" value="发&nbsp;送" class="btn btn-submit btn-disabled" disabled="">
          </p>
          <div class="suggest-list-wrap" style="display: block;">
            <!--ms-if-->
          </div>
        </div>

      </div>
    </section>
    <section class="grid-right">
      <div id="recommend-wrap">
        <div class="recommend" avalonctrl="recommend">
          <div class="title">热门问题</div>
          <div>
            <ul class="recommend-list">
              <!--repeat72793264382800239648657137561627-->
              <li class="recommend-list-item" data-log="{'target':'click-send-recommend-list'}">
                <div class="recommend-list-item-content" title="如何申请百度推广？">如何申请百度推广？
                </div>
              </li>
              <!--repeat72793264382800239648657137561627-->
              <li class="recommend-list-item" data-log="{'target':'click-send-recommend-list'}">
                <div class="recommend-list-item-content" title="百度推广效果怎么样？">百度推广效果怎么样？
                </div>
              </li>
              <!--repeat72793264382800239648657137561627-->
              <li class="recommend-list-item" data-log="{'target':'click-send-recommend-list'}">
                <div class="recommend-list-item-content" title="百度推广如何收费？">百度推广如何收费？
                </div>
              </li>
              <!--repeat72793264382800239648657137561627-->
              <li class="recommend-list-item" data-log="{'target':'click-send-recommend-list'}">
                <div class="recommend-list-item-content" title="百度推广需要什么材料？">百度推广需要什么材料？
                </div>
              </li>
              <!--repeat72793264382800239648657137561627-->
              <li class="recommend-list-item" data-log="{'target':'click-send-recommend-list'}">
                <div class="recommend-list-item-content" title="百度推广提供哪些服务？">百度推广提供哪些服务？
                </div>
              </li>
              <!--repeat72793264382800239648657137561627:end-->
            </ul>
            <!--ms-if-->
          </div>
          <!--ms-if-->
        </div>
      </div>
      <div id="operation-wrap">
        <div class="operation" avalonctrl="operation">
          <!--ms-if-->
          <!--repeat198473040440019917340425092058132-->
          <div class="module-wrap module-wrap-first">
            <div class="module-name">联系我们</div>
            <div class="sub-modules-wrap">
              <!--repeat87307339809794045096820726730646-->
              <div class="sub-modules online-ask">
                <!--ms-if-->
                <div class="sub-module-title" title="在线申请" data-log="{'target': 'click-send-operation-online-ask'}">
                  在线申请
                </div>
                <!--ms-if-->
                <!--ms-if-->
              </div>
              <!--repeat87307339809794045096820726730646-->
              <div class="sub-modules free-ask">
                <!--ms-if-->
                <!--ms-if-->
                <div class="sub-module-title free-ask-wrap" title="免费咨询" data-log="{'target': 'click-send-operation-free-ask'}">
                  免费咨询
                  <!--ms-if-->
                  <!--ms-if-->
                </div>
                <!--ms-if-->
              </div>
              <!--repeat87307339809794045096820726730646-->
              <div class="sub-modules my-adviser sub-modules-last">
                <!--ms-if-->
                <div class="sub-module-title" title="人工客服" data-log="{'target': 'click-send-operation-my-adviser'}">
                  人工客服
                </div>
                <!--ms-if-->
                <!--ms-if-->
              </div>
              <!--repeat87307339809794045096820726730646:end-->
            </div>
          </div>
          <!--repeat198473040440019917340425092058132-->
          <div class="module-wrap module-wrap-last">
            <div class="module-name">自助服务</div>
            <div class="sub-modules-wrap">
              <!--repeat089913790514666753266934944423625-->
              <div class="sub-modules prod-serve">
                <!--ms-if-->
                <!--ms-if-->
                <!--ms-if-->
                <a class="sub-module-title" target="_blank" href="http://e.baidu.com/product" title="产品与服务" data-log="{'target': 'click-send-operation-prod-serve'}">
                    产品与服务
                </a>
              </div>
              <!--repeat089913790514666753266934944423625-->
              <div class="sub-modules solution">
                <!--ms-if-->
                <!--ms-if-->
                <!--ms-if-->
                <a class="sub-module-title" target="_blank" href="http://e.baidu.com/solutions-client" title="解决方案" data-log="{'target': 'click-send-operation-solution'}">
                    解决方案
                </a>
              </div>
              <!--repeat089913790514666753266934944423625-->
              <div class="sub-modules success-case sub-modules-last">
                <!--ms-if-->
                <!--ms-if-->
                <!--ms-if-->
                <a class="sub-module-title" target="_blank" href="http://e.baidu.com/cases" title="成功案例" data-log="{'target': 'click-send-operation-success-case'}">
                    成功案例
                </a>
              </div>
              <!--repeat089913790514666753266934944423625:end-->
            </div>
          </div>
          <!--repeat198473040440019917340425092058132:end-->
        </div>
      </div>
    </section>
  </section>
</div>